annotated-types==0.6.0 ; python_full_version == "3.12.3"
anyio==4.3.0 ; python_full_version == "3.12.3"
appdirs==1.4.4 ; python_full_version == "3.12.3"
attrs==23.2.0 ; python_full_version == "3.12.3"
beautifulsoup4==4.12.3 ; python_full_version == "3.12.3"
bs4==0.0.2 ; python_full_version == "3.12.3"
build==1.2.1 ; python_full_version == "3.12.3"
cachecontrol[filecache]==0.14.0 ; python_full_version == "3.12.3"
cattrs==23.2.3 ; python_full_version == "3.12.3"
certifi==2024.2.2 ; python_full_version == "3.12.3"
cffi==1.16.0 ; (sys_platform == "darwin" or sys_platform == "linux") and python_full_version == "3.12.3" and (sys_platform == "darwin" or platform_python_implementation != "PyPy")
charset-normalizer==3.3.2 ; python_full_version == "3.12.3"
cleo==2.1.0 ; python_full_version == "3.12.3"
colorama==0.4.6 ; python_full_version == "3.12.3" and (platform_system == "Windows" or os_name == "nt")
crashtest==0.4.1 ; python_full_version == "3.12.3"
cryptography==42.0.7 ; sys_platform == "linux" and python_full_version == "3.12.3"
cssselect==1.2.0 ; python_full_version == "3.12.3"
distlib==0.3.8 ; python_full_version == "3.12.3"
distro==1.9.0 ; python_full_version == "3.12.3"
dulwich==0.21.7 ; python_full_version == "3.12.3"
fake-useragent==1.5.1 ; python_full_version == "3.12.3"
fastjsonschema==2.19.1 ; python_full_version == "3.12.3"
filelock==3.14.0 ; python_full_version == "3.12.3"
frozendict==2.4.4 ; python_full_version == "3.12.3"
h11==0.14.0 ; python_full_version == "3.12.3"
html5lib==1.1 ; python_full_version == "3.12.3"
httpcore==1.0.5 ; python_full_version == "3.12.3"
httpx==0.27.0 ; python_full_version == "3.12.3"
idna==3.7 ; python_full_version == "3.12.3"
installer==0.7.0 ; python_full_version == "3.12.3"
jaraco-classes==3.4.0 ; python_full_version == "3.12.3"
jeepney==0.8.0 ; sys_platform == "linux" and python_full_version == "3.12.3"
keyring==24.3.1 ; python_full_version == "3.12.3"
lxml-html-clean==0.1.1 ; python_full_version == "3.12.3"
lxml==5.2.1 ; python_full_version == "3.12.3"
more-itertools==10.2.0 ; python_full_version == "3.12.3"
msgpack==1.0.8 ; python_full_version == "3.12.3"
multitasking==0.0.11 ; python_full_version == "3.12.3"
numpy==1.26.4 ; python_full_version == "3.12.3"
openai==1.28.1 ; python_full_version == "3.12.3"
packaging==24.0 ; python_full_version == "3.12.3"
pandas==2.2.2 ; python_full_version == "3.12.3"
parse==1.20.1 ; python_full_version == "3.12.3"
peewee==3.17.5 ; python_full_version == "3.12.3"
pexpect==4.9.0 ; python_full_version == "3.12.3"
pkginfo==1.10.0 ; python_full_version == "3.12.3"
platformdirs==4.2.1 ; python_full_version == "3.12.3"
poetry-core==1.9.0 ; python_full_version == "3.12.3"
poetry-plugin-export==1.8.0 ; python_full_version == "3.12.3"
poetry==1.8.3 ; python_full_version == "3.12.3"
ptyprocess==0.7.0 ; python_full_version == "3.12.3"
py-alpaca-api==0.2.7 ; python_full_version == "3.12.3"
pycparser==2.22 ; (sys_platform == "darwin" or sys_platform == "linux") and python_full_version == "3.12.3" and (sys_platform == "darwin" or platform_python_implementation != "PyPy")
pydantic-core==2.18.2 ; python_full_version == "3.12.3"
pydantic==2.7.1 ; python_full_version == "3.12.3"
pyee==11.1.0 ; python_full_version == "3.12.3"
pyppeteer==0.0.25 ; python_full_version == "3.12.3"
pyproject-hooks==1.1.0 ; python_full_version == "3.12.3"
pyquery==2.0.0 ; python_full_version == "3.12.3"
pyrate-limiter==2.10.0 ; python_full_version == "3.12.3"
python-dateutil==2.9.0.post0 ; python_full_version == "3.12.3"
python-dotenv==1.0.1 ; python_full_version == "3.12.3"
pytz==2024.1 ; python_full_version == "3.12.3"
pywin32-ctypes==0.2.2 ; sys_platform == "win32" and python_full_version == "3.12.3"
rapidfuzz==3.9.0 ; python_full_version == "3.12.3"
requests-cache==1.2.0 ; python_full_version == "3.12.3"
requests-html==0.10.0 ; python_full_version == "3.12.3"
requests-ratelimiter==0.6.0 ; python_full_version == "3.12.3"
requests-toolbelt==1.0.0 ; python_full_version == "3.12.3"
requests==2.31.0 ; python_full_version == "3.12.3"
secretstorage==3.3.3 ; sys_platform == "linux" and python_full_version == "3.12.3"
shellingham==1.5.4 ; python_full_version == "3.12.3"
six==1.16.0 ; python_full_version == "3.12.3"
slack-sdk==3.27.1 ; python_full_version == "3.12.3"
sniffio==1.3.1 ; python_full_version == "3.12.3"
soupsieve==2.5 ; python_full_version == "3.12.3"
ta==0.11.0 ; python_full_version == "3.12.3"
tomlkit==0.12.5 ; python_full_version == "3.12.3"
tqdm==4.66.4 ; python_full_version == "3.12.3"
trove-classifiers==2024.4.10 ; python_full_version == "3.12.3"
typing-extensions==4.11.0 ; python_full_version == "3.12.3"
tzdata==2024.1 ; python_full_version == "3.12.3"
url-normalize==1.4.3 ; python_full_version == "3.12.3"
urllib3==2.2.1 ; python_full_version == "3.12.3"
virtualenv==20.26.1 ; python_full_version == "3.12.3"
w3lib==2.1.2 ; python_full_version == "3.12.3"
webencodings==0.5.1 ; python_full_version == "3.12.3"
websockets==12.0 ; python_full_version == "3.12.3"
xattr==1.1.0 ; sys_platform == "darwin" and python_full_version == "3.12.3"
yfinance==0.2.38 ; python_full_version == "3.12.3"
